.sec1 {
  width: 100%;
  height: 100%;
  display: flex;
  /* padding: 100px 150px; */
  background-color: white;
}

.sec1 .content {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  position: relative;
  background-color: #f0f0f0;
}
.sec1 .content p.contentTitle {
  top: 150px;
  right: -30px;
  font-size: 72px;
  position: absolute;
  font-weight: bold;
  z-index: 3;
}
.sec1 .content p.content {
  top: 320px;
  left: 270px;
  width: 40%;
  height: 300px;

  font-size: 16px;
  position: absolute;
}
.sec1 .content p.contentTitle {
  top: 150px;
  right: -30px;
  font-size: 72px;
  position: absolute;
  font-weight: bold;
}

.sec1 .img {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  position: relative;
  padding: 100px;
}

.sec1 img {
  width: 100%;
}
